

<h1>About Us</h1>
<p>We are working hard on our Rails Website Project!</p>

<p> Tom Willmott was a founder and CEO of Aberdeen Group until he retired in 2003.</p>
<p> Aberdeen is a high-tech sales training and marketing consulting firm.</p>
<p> Since 2003, Tom has been a futures and foreign exchange currency trader.
</p>
<p> He has always been involved with software and programming.</p>
<p> Tom enjoyed and completed the OneMonth HTML premium course in July.</p>



<!-- This is a comment -->