<div class="jumbotron">
    <div class="container">
        <h1>About us</h1>
        <p>This is the sample project I built for <a href="https://onemonthrails.com">One Month Rails</a>.</p>
        <p>Our firm specializes in technical analysis, Futures and Forex Trading!</p>
    </div>
</div>



<!-- This is a comment -->