

<h1>Welcome to my Website!</h1>
<p>We have NO IDEA what type of website this will become!</p>

<p>I have experience with Twitter and Pinterest -- but less with Reddit.</p>


<p>This is the week to spend time thinking about my final project!</p>

<p> For the time being, just grateful to have all the pieces successfully installed on my machine!!!!!</p>


<!-- This is a comment -->